body{
	background:#b64343;
}
#book{
	margin-left: 5%;
	width:90vw;
	height:90vh;
}

#book .turn-page{
	background-color:white;
}

#book .cover{
	background:#333;
    background-image: url('cover.png'); /* Path to your image */
    background-size: cover;

}

#book .cover h1{
	color:white;
	text-align:center;
	font-size:50px;
	line-height:500px;
	margin:0px;
}

#book .loader{
	width:24px;
	height:24px;
	display:block;
	position:absolute;
	top:238px;
	left:188px;
}

#book .data{
	text-align:center;
	font-size:40px;
	color:#999;
	line-height:500px;
}

#controls{
	width:800px;
	text-align:center;
	margin:20px 0px;
	font:30px arial;
}

#controls input, #controls label{
	font:30px arial;
}

#book .odd{
	background-image:-webkit-linear-gradient(left, #FFF 95%, #ddd 100%);
	background-image:-moz-linear-gradient(left, #FFF 95%, #ddd 100%);
	background-image:-o-linear-gradient(left, #FFF 95%, #ddd 100%);
	background-image:-ms-linear-gradient(left, #FFF 95%, #ddd 100%);
}

#book .even{
	background-image:-webkit-linear-gradient(right, #FFF 95%, #ddd 100%);
	background-image:-moz-linear-gradient(right, #FFF 95%, #ddd 100%);
	background-image:-o-linear-gradient(right, #FFF 95%, #ddd 100%);
	background-image:-ms-linear-gradient(right, #FFF 95%, #ddd 100%);
}

.cover {
    display: flex;
    width: 400px; /* Adjust as needed */
    height: 700px; /* Adjust as needed */
    background-image: url('cover.png'); /* Path to your image */
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating */
    align-items: flex-start;
    justify-content: flex-end;
    color: rgb(255, 255, 255); /* Ensures text is readable */
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5); /* Optional text effect */
	font-size: 1rem;
	padding-top: 0%;
	font-family:fantasy;
}
