/* Style for the container */
.container {
    position: relative;
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    overflow: hidden;
}

/* Style for the button */
.button {
    position: absolute;
    top: 5%;
    left: 5%;
    transform: translate(-50%, -50%);
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    z-index: 2;
    /* Ensure the button appears above other content */
}

/* Style for the content */
.content {
    position: relative;
    z-index: 1;
    /* Ensure the content appears below the button */
}

body {
    margin: 0;
    padding: 0;
}

.cajaTexto {
    display: flex;
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #75A193;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    z-index: 2;
    font-size: 2rem;
    border: none;
    width: 50%;
    align-items: right;
    justify-content: right;
}
.cajaTexto:focus {
    outline: none;
}

.cajaTexto:hover {
    cursor: default;
    pointer-events: none; /* Disable any interaction */
}
.logo {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: none;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    z-index: 2;
}

.bookTemplate{
    width: 100vw;
    height: 200vh;
}